{% extends 'base.html' %}

{% block title %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
{% endblock title %}


{% block content %}
<section class="black">
			<div class="container width1400">
				<div class="row">
					<div class="col2">
						<h1>Welcome to SongFinder</h1>
						<h3>Discover your love for music</h3>
						<button><a>Search Now</a></button>
					</div>
					<div class="col2">
						<img src="{{ url_for('static', filename='images/cover1.jpg') }}">
					</div>
				</div>
				
			</div>
			
		</section>
    {% if current_user.is_authenticated %}
        <h1>Welcome to SongFinder, {{ current_user.username }}</h1>
        <form method='POST'>
            {{form.hidden_tag()}}
            <div class='input'>
            {% if form.title.errors %}
                {% for error in form.title.errors %}
                    {{error}}<br>
                {% endfor %}
            {% endif %}
                {{ form.title.label }}:
                {{ form.title }}
            </div>
            <div class='input'>
            {% if form.artist.errors %}
                {% for error in form.artist.errors %}
                    {{error}}<br>
                {% endfor %}
            {% endif %}
                {{ form.artist.label }}:
                {{ form.artist }}
            </div>
            <div class='input'>
            {% if form.album.errors %}
                {% for error in form.album.errors %}
                    {{error}}<br>
                {% endfor %}
            {% endif %}
                {{ form.album.label }}:
                {{ form.album }}
            </div>
            <div class='input'>
            {% if form.story.errors %}
                {% for error in form.story.errors %}
                    {{error}}<br>
                {% endfor %}
            {% endif %}
                {{ form.story.label }}:
                {{ form.story }}
            </div>
            <div class="input">
                {{ form.submit.label }}
                {{ form.submit }}
            </div>
        </form>
    {% else %}
        <h1>Welcome to SongFinder</h1><br>
        <a href="{{ url_for('login') }}">Login to start posting aids</a><br>
    {% endif %}
    {% if aids %}
        {% for aid in aids %}
        <div class='aid-post'>
        <br>
            <p><a href="{{ url_for('aid_view', id=aid.id )}}"><b>{{aid.title}}</b></a> by <a href="{{ url_for('similar', artist=aid.artist) }}">{{aid.artist}}</a><br>
            <small id="hits-{{aid.id}}">Hits: {{aid.hits}}</small><br>
            <button id="hitbutton-{{aid.id}}" class="hitbutton"><i class="fas fa-fire-alt"></i><span style='display: none;'>Hit</span></button>
            Uploaded on {{ aid.date_posted.strftime('%Y-%m-%d') }} by <a href="{{ url_for('profile', username=aid.author.username) }}">{{ aid.author.username }}</a>
            </p>
        </div>
        {% endfor %}
    {% endif %}
    <br>
    <a href="{{url_for('chat')}}"><strong>Click here to join the chat room to talk with fellow listeners.</strong></a>
    
    <script type='text/javascript'>
        $(document).ready(function(){
            var socket = io.connect('http://127.0.0.1:5000')

            /*socket.on('connect', function(){
                console.log('Connected');
                socket.send('A user has connected.');
            });

            socket.on('message', function(msg){
                $("#Messages").append("<li>"+msg+"</li>");
            });

            $('#sendbutton').on('click', function(){
                socket.send($("#Message").val());
                $("#Message").val("");
            });*/

            $(".hitbutton").on('click', function(event){
                console.log(event.target)
                target = event.target
                if(target.tagName == 'I'){
                    target = target.parentNode;
                }
                socket.emit('hit', target.id, target.innerHTML); // this.id also works
                node = target.childNodes[1]
                if(node.innerHTML=='Hit'){
                    node.innerHTML = 'Unhit';
                }
                else{
                    node.innerHTML = 'Hit';
                }
                target.classList.toggle('click')
            });

            socket.on('hit_results', function(result){
                console.log('#hits-'+result.id)
                //$('#hits-'+result.id).innerHTML = "Hits: "+ result.hits; //idk why this isnt working
                document.getElementById('hits-'+result.id).innerHTML = "Hits: "+result.hits;
            });

            socket.on('redirect', function(data){
                window.location = data.url;
            });
        });
    </script>
{% endblock %}
