{% extends 'base.html' %}

{% block content %}
    <h1>User: {{ user.username }}</h1>
    <hr>
    {% if aids %}
        {% for aid in aids %}
            <p><b>{{aid.title}}</b> by {{aid.artist}}<br>
            Hits: {{aid.hits}}<br>
            Uploaded on {{ aid.date_posted.strftime('%Y-%m-%d') }}</p>
        {% endfor %}
        <br>
    {% endif %}
    {% if not spotc %}
    <a href=" {{ url_for('connect_spotify') }} ">Want to connect to spotify?</a>
    {% else %}
    You are connected to your spotify account.
    {% endif %}
{% endblock %}